.popup__remove-chat-button{
    width: 155px;
height: 37px;
    background: #FF2F2F;
border-radius: 8px;
border:none;

font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 13px;
/* identical to box height, or 100% */

text-align: center;

color: #FFFFFF;
}