.messages__empty{
    background-color:white;
    width:970px;
    height:100vh;
    padding:10px 20px 0px 20px;
    /* margin-top: 10px; */
    border-left:1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */

text-align: center;
vertical-align: middle;

color: #999999;
display:none;
}