.form__input{
    margin:0;
    padding:0;
    width:100%;
    border:none;
    border-bottom:1px solid #3369F3;
    padding-bottom:3px;

    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 13px;
/* identical to box height, or 100% */


color: #1E1E1E
}
