.info__container{
 
 display: flex;
 justify-content: space-between;  
 align-items: center;
 padding-top:10px;
 padding-bottom: 10px;;
}

.info__container_underline{
    border-bottom:1px solid #EAEAEA;; 
}