.messages__sent-button{
    background-image: url(../../../images/sent.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    background-color:transparent;
    /* border:1px solid red; */
    border:none;
    width:30px;
    height:30px;
    
}