@import url(vendor/normalize.css);
@import url(vendor/fonts.css);

@import url(block/chats/chats.css);
@import url(block/messages/messages.css);
@import url(block/popup/popup.css);

.page{
    display:flex;
    flex-direction: row;
    /* border:1px solid black; */
    justify-content: center;
    max-height:100vh; 
    background-color: darkgrey;
    
}